<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
  <div ng-app="formSignupApp">
    <div ng-controller="formSignupController">
      <form>
        First Name: <input type="text" ng-model="user.firstName" /><br />
        Last Name: <input type="text" ng-model="user.lastName" /><br />
        Phone: <input type="text" ng-model="user.phone" /><br />
        Email: <input type="text" ng-model="user.email" /><br />
        Username: <input type="text" ng-model="user.username" /><br />
        Password: <input type="password" ng-model="user.password" /><br />
        <input type="submit" ng-click="update(user)" value="Sign Up" />
      </form>
    </div>
  </div>
  <script src="app/controller.js"></script>
</body>
</html>