<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/signup.css">
  <!-- iconj.com favicon code -->
  <link rel="shortcut icon" href="http://www.iconj.com/icon.php?pid=1idgst8ijt" type="image/x-icon" />
  <link rel="shortcut icon" href="http://www.iconj.com/gif_icon.php?pid=1idgst8ijt" type="image/gif" />
  <!-- end of iconj.com favicon code -->
</head>
<body>
  <div ng-app="formSignupApp">
      <div ng-controller="formSignupController" class="container">
      <ul style="list-style:none;">
      <form>
        <div class="row">
          <h4>Account Information</h4>

          <li class="animate-repeat" ng-repeat="input in accountInfo">
            <div class="input-group input-group-icon">
            <!-- NG MODEL IS BROKEN HERE, NEED TO FIX IT -->
              <input type="text" placeholder="{{ input.placeholder }}" ng-model=""/>
              <div class="input-icon"><i class="fa {{input.fa}}"></i></div>
            </div>
          </li>

        </div>
        <div class="row">
          <div class="col-half">
            <h4>Date of Birth</h4>
            <div class="input-group">
              <div class="col-third">
                <input ng-model="user.dobDay" type="text" placeholder="DD"/>
              </div>
              <div class="col-third">
                <input ng-model="user.dobMonth" type="text" placeholder="MM"/>
              </div>
              <div class="col-third">
                <input ng-model="user.dobYear" type="text" placeholder="YYYY"/>
              </div>
            </div>
          </div>
          <div class="col-half">
            <h4>Gender</h4>
            <div class="input-group">
              <input ng-model="user.gender" type="radio" name="gender" value="male" id="gender-male"/>
              <label for="gender-male">Male</label>
              <input ng-model="user.gender" type="radio" name="gender" value="female" id="gender-female"/>
              <label for="gender-female">Female</label>
            </div>
          </div>
        </div>
        <div class="row">
          <h4>Identification Type</h4>
          <div class="input-group">
            <input ng-model="user.idMethod" type="radio" name="payment-method" value="card" id="idMethodSSN" checked="true"/>
            <label for="idMethodSSN"><span><i class="fa fa-lock"></i>Social Security Number</span></label>
            <input ng-model="user.idMethod" type="radio" name="payment-method" value="paypal" id="idMethodLN"/>
            <label for="idMethodSSN"> <span><i class="fa fa-car"></i>License Number</span></label>
          </div>
          <div class="input-group input-group-icon">
            <input ng-model="user.idNumber" type="text" placeholder="Identification Number"/>
            <div class="input-icon"><i class="fa fa-eye"></i></div>
          </div>
          <div class="col-half">
            <div class="input-group input-group-icon">
              <input g-model="user.pin" type="text" placeholder="PIN Number"/>
              <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>
          </div>
          <div class="col-half">
            <div class="input-group">
              <select>
                <option ng-repeat="month in months">{{ month }}</option>
              </select>
              <select>
                <option>2015</option>
                <option>2016</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <h4>Terms and Conditions</h4>
          <div class="input-group">
            <input type="checkbox" id="terms"/>
            <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
          </div>
        </div>
      </form>
      </ul>
      <input type="submit" ng-click="update(user)" value="Sign Up" />
    </div>
   </div>
  <script src="app/formSignupApp.js"></script>
</body>
</html>