<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <title>Calendar Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
  <div ng-app="visitForm">
    <div ng-controller="visitFormController">
      <ul class="formListClass">
        <li class="animate-repeat" ng-repeat="forms in formFields">
          <form>
            <input type="text" ng-click="update(user)" value="{{forms.name}}" />
          </form>
        </li>
    </div>
  </div>
  <script src="app/controller.js"></script>
</body>
</html>